#authbox {
    width: 7em;
    padding: 0 0.5em;
    position: absolute;
    background: #ccc;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    z-index: 5;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

#authbox .prompt, #authbox .username {
    text-align: center;
    padding: 0.3em;
    font-weight: bold;
    cursor: pointer;
}

#authbox .loginform {
    display: none;
    padding: 0.5em 0;
}

#authbox .form_field {
    padding-top: 0;
}

#authbox label {
    width: inherit;
    display: block;
    text-align: center;
    float: none;
}

#authbox input[type="text"], #authbox input[type="password"] {
    width: 7em;
}

#authbox .submit_button {
    text-align: center;
}

#authbox .submit_button input {
    margin: 0;
}

#authbox .logout {
    display: none;
    padding-top: 0.5em;
}

#authbox div.form_field .error {
    width: 14em;
    background-color: #CBB;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    opacity: 0.80;
    margin-right: -4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #A00000;
}